
/* General Style */
* {
  margin: 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  text-decoration: none;
}

/* Element Style */

h1,h2,h3,h4 {
  font-family: serif;
}

ul li {
  list-style-type: none;
  font-size: 18px;
  line-height: 45px;
}

header {
  background-image: url(./images/image-3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-image: url(./images/image-10.png);
}


nav ul {
  background: #FFF;
  padding: 10px 30px;
  display: flex;
  margin: 0;
  transform: translateY(-15px);
}

nav ul li a {
  font-size: 15px;
  color: #000;
  margin: 10px 30px;
}

nav ul li a:hover, .active {
  border-bottom: 1px solid #000;
  padding-bottom: 6px;
}

nav .mobile ul {
  width: 80%;
  margin: auto;
  padding: 0;
}

nav .mobile li{
  padding: 10px 0;
}

input[type="search"] {
  -webkit-appearance: auto;
}

/* Random Style */
.logo {
  width: 37%;
  float: left;
}

.fx-width {
  width: 60%;
  float: right;
}

nav .mobile {
  display: none;
  background-color: #efefef;
  /* transform: translateY(-200%); */
  /* transition: all 0.5s ease-in-out; */
}

.menu-toggle {
  display: block !important;  
  /* transform: translateY(0) !important; */
  /* transition: all 0.5s ease-in-out; */
}

.toggle-btn {
  background: transparent;
  border: 1px solid #3D405B;
  border-radius: 4px;
}

.per {
  transform: translateX(-20px);
}

.par {
  transform: translateX(22px);
}

.container-fluid {
  clear: both;
}

.fx-btn {
  background: #000;
  color: #fff;
}

.bx-btn {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  margin: 0 13px 0 0;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 98%;
}

.w-33 {
  width: 32% !important;
}

.about-us {
  display: flex;
}

.about-text {
  width: 50%;
  line-height: 34px;
}

.about-image {
  width: 50%;
}

.image-pos {
  transform: translateY(-130px);
}

.image-top {
  transform: translateY(-380px);
}

.line {
  line-height: 70px;
}

.heading {
  background: #F5D5D5;
  padding: 5px;
}

.heading-2 {
  background: #E8AFAD;
}

.service-text {
  width: 40%;
}

.service-image {
  margin-left: 15%;
}

.heading-hover:hover {
  background: #F5D5D5;
  padding: 5px;
}

.fx-border {
  border: 10px solid #F5D5D5;
}

.bx-border {
  border: 10px solid #FFF;
}

.fx-color {
  color: #fff;
  border: 1px solid #fff;
}

.fx-color:hover {
  color: #0FF;
}

.fx-align {
  margin-left: 15%;
}

.book-btn {
  width: 55%;
  height: 200px;
  padding-top: 14%;
  background-image: url(./images/image-6.png);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(120%);
}

.book-btn-once {
  width: 100%;
  height: 200px;
  padding-top: 14%;
  background-image: url(./images/image-6.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.view-btn {
  position: absolute;
  left: 17%;
  transform: translateY(120px);
}

.pad {
  padding: 5% 6%;
}

.round {
  border-radius: 40%;
}

.read {
  padding-bottom: 5px;
  border-bottom: 1px solid #EE3737;
}

.shades {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.shades:hover, .shades:active {
  box-shadow: 0px 0px 8px rgba(10, 0, 0, 0.1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.input {
  margin: 0;
  border: 3px solid #E8AFAD;
  background: transparent;
}

.input-fill {
  background: #E8AFAD;
  transform: translateX(-4px);
  border: none;
}


